@charset "utf-8";
html, body {
    font-size: 14px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

a, a:visited, a:active {
    color: #e460d2;
    transition: 0.2s;
    text-underline-offset: 3px;
}

a:hover, a:hover h2, a:hover p {
    opacity: 0.7;
}

body {
    background-image: url("../images/1174006.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    color: #222;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}

.osaka_agata {
    font-size: 0.8em;
    letter-spacing: -1px;
    display: block;
    margin: 0;
}

.fuwafuwa {
    animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
    transition: 1.5s ease-in-out;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0) rotate(-7deg);
    }
    50% {
        transform: translate(0, -7px) rotate(0deg);
    }
    100% {
        transform: translate(0, 0) rotate(7deg);
    }
}

.fadeup.is-animated {
    animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

.fadeup {
    opacity: 0;
    transform: translateY(30px);
}

@keyframes fadeup {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#page_main > figure.wp-block-video video {
    width: 36%;
}

.centering {
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    display: block;
}

#wpcf7-f103-p93-o1 > form span.ajax-loader {
    position: absolute;
}

#wpcf7-f103-p93-o1 > form input[type="text"], #wpcf7-f103-p93-o1 > form input[type="email"], #wpcf7-f103-p93-o1 textarea {
    width: 100%;
    border: 2px solid #777;
    border-radius: 5px;
}

#wpcf7-f103-p93-o1 select {
    border: 2px solid #777;
    border-radius: 5px;
}

div.wp-block-contact-form-7-contact-form-selector.centering {
    width: 50%;
}

.jobtype_margin {
    margin-top: 17px;
    display: block;
}

.komemark {
    color: #DC3232;
}

.link_banner {
    width: 300px;
    height: auto;
}

#sun {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
    z-index: 6;
    display: block;
}

#sun img {
    width: 100px;
    height: auto;
}

div.article-tag ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

div.article-tag ul li {
    margin-left: 10px;
}

div.article-tag ul li:first-child {
    margin-left: 0;
}

span.cat-data > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #e460d2;
    width: fit-content;
    padding: 2px 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 3px;
}

article.post > ul {
    display: none;
}

body.archive > h1, body.page > h1 {
    text-align: center;
    margin-bottom: -15px;
}

main#archive_main hr:last-child {
    display: none;
}

a.color444 {
    color: #444;
}

article.article-content, main#archive_main, main#page_main {
    width: 80%;
    margin: 30px auto;
    background-color: #ffffffdd;
    padding: 10px;
    font-size: 1.2em;
}

article.article-content img {
    max-width: 100%;
    height: auto;
}

article.article-content span.cat-data {
    display: flex;
    flex-wrap: wrap;
}

article.article-content span.article-date {
    display: block;
}

article.article-content p {
    font-size: 1.2em;
    line-height: 1.75;
    min-height: 1.75em;
}

article.article-content h1 {
    font-size: 2.3em;
}

/* header */
header {
    height: 100px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/1409443-min.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

header h1 a {
    margin: 0;
    padding: 0;
    display: block;
    height: 100px;
}

header h1 img {
    width: auto;
    height: 100px;
}

header .Hamburger__Menu__Content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#menu-btn-check { /*チェックボックスなくす*/
    display: none;
}

ul#submenu {
    display: flex;
    list-style: none;
    margin: 25px auto;
    padding: 0;
    width: fit-content;
    width: -moz-fit-content;
}

ul#submenu li:first-child {
    margin-left: 0;
}

.Hamburger__Menu__Content ul {
    width: 100%;
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-end;
    margin-top: 100px;
    padding: 0;
}

.Hamburger__Menu__Content ul li :hover {
    opacity: 0.7;
}

.Hamburger__Menu__Content ul li a, ul#submenu li a {
    text-decoration: none;
    color: #e460d2;
    display: block;
    padding-top: 65px;
    position: relative;
    z-index: 2;
}

ul#submenu li a {
    text-align: center;
}

.Hamburger__Menu__Content li, ul#submenu li {
    margin-left: 15px;
    position: relative;
    transition: 0.2s;
}

.Hamburger__Menu__Content li::before, ul#submenu li::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #e460d2;
    bottom: 0;
    left: 0;
    transition: 0.2s;
}

.Hamburger__Menu__Content li::after, ul#submenu li::after {
    display: block;
    position: absolute;
    top: -0px;
    left: 50%;
    transform: translateX(-50%);
}

.Hamburger__Menu__Content li:nth-child(1)::after, ul#submenu li::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/c_choju61_0002_s64_choju61_0002_0.png);
}

.Hamburger__Menu__Content li:nth-child(2)::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/c_choju57_0016_s64_choju57_0016_0.png);
    top: 15px;
}

.Hamburger__Menu__Content li:nth-child(3)::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/c_choju49_0002_s64_choju49_0002_2.png);
}

.Hamburger__Menu__Content li:nth-child(4)::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/c_choju51_0035_s64_choju51_0035_0.png);
}

ul#submenu li:nth-child(1)::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/sun_200-min.png);
    transform: translateX(-50%) scale(0.4) translateY(-181px);
}

ul#submenu li:nth-child(2)::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/c_choju55_0030_s64_choju55_0030_0.png);
}

ul#submenu li:nth-child(3)::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/job_request.png);
}

ul#submenu li:nth-child(4)::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/column_usagi2-min.png);
}

ul#submenu li:nth-child(5)::after {
    content: url(https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/tarot-min.png);
}

.Hamburger__Menu__Content li:hover::before, ul#submenu li:hover::before {
    width: 100%;
}

body > header > h1 {
    margin: 0;
    padding: 0;
    font-size: 200%;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
    white-space: nowrap;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .2),
    0 -5px 20px rgba(255, 255, 255, .2);
    color: #451722;
}

.only_mobile {
    display: none;
}

.only_pc {
    display: block;
    font-size: 0.8em;
}

nav.breadcrumbs {
    background-color: #ffffff77;
    padding-left: 1em;
}

#wpcf7-f103-p93-o1 > form {
    max-width: 500px;
    margin: 0 auto;
}

body.archive > p {
    text-align: center;
}

@media (max-width: 768px) {
    article.article-content, main#archive_main, main#page_main {
        width: calc(100% - 30px);
        margin: 30px 15px;
    }

    #sun img {
        width: 55px;
        height: auto;
    }

    .only_pc {
        display: none;
    }

    #page_main > figure.wp-block-video video {
        width: 100%;
    }

    #chiiki_renkei {
        display: none;
    }

    div.wp-block-contact-form-7-contact-form-selector.centering {
        width: 100%;
    }

    .only_mobile {
        display: block;
    }

    body > header > h1 {
        font-size: 140%;
    }

    .Hamburger__Menu__Content li::before {
        display: none;
    }

    .black_icon {
        width: 10px;
        margin-left: 2px;
    }

    header div.Hamburger__Menu__Content {
        display: block;
        justify-content: space-between;
        overflow: scroll;
    }

    .Hamburger__Menu__Content img {
        height: 50px;
        width: 100px;
        margin-left: 30px;
        display: block;
    }

    .Hamburger__Menu__Content li::after {
        display: none;
    }

    /* ハンバーガー*/
    .Hamburger__Menu--btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 130;
        background-color: #d675be;
    }

    .Hamburger__Menu--btn span,
    .Hamburger__Menu--btn span:before,
    .Hamburger__Menu--btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }

    .Hamburger__Menu--btn span:before {
        bottom: 8px;
    }

    .Hamburger__Menu--btn span:after {
        top: 8px;
    }

    /* ✕ */
    #menu-btn-check:checked ~ .Hamburger__Menu--btn span {
        background-color: rgba(255, 255, 255, 0); /*メニューオープン時は真ん中の線を透明にする*/
    }

    #menu-btn-check:checked ~ .Hamburger__Menu--btn span::before {
        bottom: 0;
        transform: rotate(45deg); /* 中心を基準点に時計回りに回転する */
    }

    #menu-btn-check:checked ~ .Hamburger__Menu--btn span::after {
        top: 0;
        transform: rotate(-45deg); /* 中心を基準点に反時計回りに回転する */
    }

    #menu-btn-check:checked ~ .Hamburger__Menu--btn {
        top: 10px !important;
    }

    /* menu */
    .Hamburger__Menu__Content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: #d675be;
    }

    .Hamburger__Menu__Content ul {
        display: block;
        width: 98%;
        padding: 65px 10px 0;
        margin: 0 0 auto auto;
    }

    .Hamburger__Menu__Content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
        margin-bottom: 10px;
    }

    .Hamburger__Menu__Content ul li a {
        display: block;
        width: 100%;
        font-size: 150%;
        box-sizing: border-box;
        color: #fff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
        padding-top: 0;
    }

    .Hamburger__Menu__Content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    .Hamburger__Menu__Content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%; /*leftの値を変更してメニューを画面外へ*/
        z-index: 120;
        background-color: #d675be;
        transition: all 0.5s; /*アニメーション設定*/
    }

    #menu-btn-check:checked ~ .Hamburger__Menu__Content {
        left: 0; /*メニューを画面内へ*/
    }

    /* /ハンバーガー */
}

/* /header  */

/* toppage */


body {
    width: 100%;
    margin: 0;
}

body > main > section:nth-child(1) {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#hanabira {
    width: 100%;
    height: fit-content;
    /*background-image: url(images/wood.jpg); */
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#hanabira > div.img_fit_div {
    width: fit-content;
    height: fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    position: relative;
    margin: 0 auto;
}

#hanabira > canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
}

img#main_image {
    height: 100%;
    width: auto;
    max-height: calc(100vh - 160px);
    /*height: 900px;*/
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

div#sakura_animation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.key_visual {
    width: 100%;
}

.vertical-1 {
    position: absolute;
    z-index: 20;
    writing-mode: vertical-rl; /*縦書き*/
    display: inline-block;
    top: 10px;
    right: -17%;
    font-size: 50px;
    font-weight: bold;
    color: #444;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, 'Noto Serif JP', serif;
}

.vertical-2 {
    position: absolute;
    z-index: 20;
    writing-mode: vertical-rl;
    display: inline-block;
    bottom: 0;
    left: -17%;
    font-size: 50px;
    font-weight: bold;
    white-space: nowrap;
    /*min-height: 676px;*/
    color: #444;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, 'Noto Serif JP', serif;
}

_::-webkit-full-page-media, _:future, :root .vertical-2 {
    height: auto;
    bottom: 40px;
}

_::-webkit-full-page-media, _:future, :root img#main_image {
    max-height: calc(100vh - 174px);
}

.yoko {
    writing-mode: horizontal-tb;
}

.menu {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(204, 270, 24, 0.70);
    /*background-color: transparent;*/
    width: 225px;
    height: 80px;
    border: 1px solid;
    border-color: #9ec39e;
    /*border-color: transparent;*/
    border-radius: 50%;
    z-index: 6;
}

.mainmenu li {
    list-style: none;
    font-size: 180%;
    /*font-size: 0;*/
}

.mainmenu li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-weight: bold;
    white-space: nowrap;
}

.menu_soto {
    bottom: 9%;
    right: -24%;
    font-size: 180%;
    border-color: #9ec39e !important;
    background-color: rgba(204, 270, 24, 0.70);
}


@media screen and (max-width: 1049px) {
    .vertical-1 {
        right: 0px;
        font-size: 49px;
    }

    .vertical-2 {
        left: 0px;
        font-size: 49px;
    }

    .menu_soto {
        bottom: 9%;
        right: -9%;
    }
}

@media (max-height: 740px) {
    .vertical-1 {
        right: 0px;
        font-size: 40px;
    }

    .vertical-2 {
        left: 0px;
        font-size: 40px;
    }
}

.menu_s {
    top: 50%;
    left: 24.87%;
    /*top: 58%;
    left: 20.87%;*/
}

.menu_p {
    top: 54%;
    left: 75.38%;
    /*top: 50%;
    left: 81.38%;*/
}

.menu_it {
    width: 195px;
    height: 80px;
    top: 79%;
    left: 51%;
    /*width: 75px;
    height: 43px;
    top: 78%;
    left: 53%;*/
    border-radius: 5px;
}

.menu_a {
    width: 270px;
    height: 75px;
    top: 93%;
    left: 51%;
    /*width: 100px;
    height: 42px;
    top: 87.5%;
    left: 52%;*/
    border-radius: 5px;
}

.menu_h {
    top: 23%;
    left: 37.92%;
    /*top: 26%;
    left: 29.92%;*/
}

.menu_il {
    top: 31%;
    /*top: 32%;*/
    left: 70%;
}

section#section_tips {
    min-height: 0 !important;
    padding-bottom: 15px;
}

section#section_tips h3 {
    padding-left: 2em;
    font-size: 1.4em;
}

section#section_tips > p {
    margin: 0 4em;
    font-size: 1.2em;
}

section#section_tips h2 > img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

section#blog {
    background-image: url(../images/1409443-min.jpg);
    background-size: 100%;
    background-position: center center;
    padding-bottom: 10px;
}

section#blog div.wrap_articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

section#blog a.archive_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid yellowgreen;
    background-color: #ffffffaa;
    border-radius: 10px;
    text-decoration: none;
}

section#blog article {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid yellowgreen;
    overflow: hidden;
    background-color: #ffffffaa;
    margin: 20px;
}

section#blog div.blog_text_area {
    padding: 0 5px;
}

section#blog article img {
    width: 100%;
    height: 223.5px;
    object-fit: cover;
}

.Section__Odd h2 {
    font-size: 250%;
    padding-top: 1em;
    padding-left: 1em;
    margin-top: 0;
}

.Section__Odd__Contents {
    display: flex;
    justify-content: space-around;
}

.Section__Odd__Contents figure {
    width: 27%;
    margin: 0;
}

.Section__Odd__Contents img {
    width: 100%;
    height: auto;
}

.Section__Odd__Paragraph {
    width: 67%;
}

.Section__Odd__Paragraph p {
    position: relative;
    padding: 20px;
    line-height: 1.75em;
    z-index: 1;
    font-size: 140%;
}

.Section__Odd {
    position: relative;
    background-color: #def0e6;
    background-image: url(../images/green_washi-min.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 600px;
}

.Section__Odd--cherry img {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.5;
}

/* sec02*/
.Section__Even {
    position: relative;
    background-color: white;
    background-image: url(../images/1409443-min.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    min-height: 600px;
}

.Section__Even h2 {
    font-size: 250%;
    padding-top: 1em;
    padding-left: 1em;
    margin-top: 0;
}

.Section__Even__Content {
    display: flex;
    justify-content: space-around;
}

.Section__Even__Paragraph {
    width: 70%;
}

.Section__Even__Paragraph p {
    line-height: 1.75em;
    font-size: 140%;
    position: relative;
    z-index: 1;
    padding: 20px;
}

.Section__Even figure {
    width: 30%;
    margin: 0;
}

.Section__Even__Content figure img {
    width: 100%;
    height: auto;
}

.Section__Even--cherry img {
    width: 50%;
    height: auto;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(-1, 1);
}

.Section__Odd--cherry img {
    width: 50%;
    height: auto;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    right: 0;
}

.Section__Odd__Content figure {
    margin: 0;
    width: 30%;
}

.Section__Odd__Content figure > img {
    width: 100%;
}

figcaption {
    font-size: 11px;
    text-align: center;
}

#section_tips p {
    display: flex;
}

#section_tips p img {
    height: auto;
    position: absolute;
    top: 30px;
    left: 333px;
}

@media screen and (max-width: 768px) {
    #section_tips p img {
        position: static;
    }

    #section_tips p {
        flex-direction: column;
        align-items: center;
    }

    body > main > section:nth-child(1) {
        margin-bottom: -14px;
    }

    .menu {
        background-color: rgba(204, 270, 24, 0.80);
    }

    section#section_tips h3 {
        padding-left: 0;
        text-align: center;
    }

    section#section_tips > p {
        margin: 0 2em;
    }

    section#section_tips h2 > img {
        width: 20px;
        height: auto;
        margin-left: 10px;
    }

    .Section__Odd__Contents {
        flex-direction: column;
        align-items: center;
    }

    .Section__Even__Content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .Section__Odd__Contents figure, .Section__Even figure, .Section__Odd__Paragraph, .Section__Even__Paragraph {
        width: 80%;
    }

    .Section__Odd__Paragraph p, .Section__Even__Paragraph p {
        padding: 0;
    }

    .Section__Odd h2, .Section__Even h2 {
        font-size: 140%;
        padding-left: 0;
        text-align: center;
    }

    .Section__Even--cherry img, .Section__Odd--cherry img {
        width: 100%;
    }

    .Section__Odd, .Section__Even {
        background-size: 100%;
    }

    .mainmenu li a {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

@media (max-width: 768px) {
    img#main_image {
        width: 100%;
        height: auto;
    }

    .logo-img {
        margin: 0;
    }

    .menu {
        width: 23vw !important;
        height: 9.5vw !important;
        font-size: 80%;
    }
    .mainmenu li {
        font-size: 80%;
        /*font-size: 0;
        background-color: transparent;
        border-color: transparent;*/
    }

    .vertical-1 {
        right: 10px;
        font-size: 160%;
        backdrop-filter: blur(16px);
        background-color: #ffffff66;
    }

    .vertical-2 {
        left: 10px;
        bottom: 0;
        font-size: 160%;
        backdrop-filter: blur(16px);
        background-color: #ffffff66;
    }

    .menu_soto {
        bottom: 9%;
        right: -6%;
        background-color: rgba(204, 270, 24, 0.80) !important;
        border-color: #9ec39e !important;
    }

    .menu_s {
        left: 29.87%;
        top: 51%;
        /*left: 19.87%;
        top: 57.5%;*/
        width: 180px;
        height: 60px;
    }

    .menu_p {
        width: 180px;
        height: 60px;
        left: 74.38%;
        top: 54%;
        /*left: 81.38%;
        top: 50%;*/
    }

    .menu_it {
        width: 150px;
        height: 40px;
        left: 51%;
        top: 72%;
        /*width: 8vw !important;
        height: 4vw !important;
        left: 53%;
        top: 77%;*/
    }

    .menu_a {
        width: 150px;
        height: 40px;
        left: 51%;
        top: 90%;
        /*width: 12vw !important;
        height: 6vw !important;
        left: 52%;
        top: 88%;*/
    }

    .menu_h {
        width: 180px;
        height: 60px;
        left: 33.92%;
        top: 29%;
        /*left: 29.92%;
        top: 26%;*/
    }

    .menu_il {
        width: 180px;
        height: 60px;
        left: 67%;
        top: 32%;
        /*left: 70%;
        top: 32%;*/
    }

}

/* toppage */

/* footer */
footer {
    background-color: #7a4171;
    color: white;
    margin-bottom: -13px;
}

footer h1 {
    font-size: 200%;
}

footer .Footer__Inner {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

footer p {
    display: block;
}

.Footer__Inner__GoogleMaps {
    margin-top: 26px;
}

.Footer__Inner__Links {
    min-width: 160px;
}

footer ul {
    width: fit-content;
    width: -moz-fit-content; /*firefox*/
    list-style: none;
    border-left: 3px solid white; /*縦棒*/
    padding-left: 25px;
}

footer ul li {
    border-bottom: 1px solid white;
    position: relative;

}

footer ul li::before { /*斜め線*/
    content: '';
    display: block;
    height: 1px;
    width: 35px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: -30px;
    transform: rotateZ(
            45deg
    );
}

footer ul li::after { /*〇*/
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -31px;
}

footer ul li a {
    text-decoration: none;
    list-style: none;
    color: white !important;
}

footer #copyright {
    text-align: center;
    font-size: 13px;
    color: white;
    font-family: Verdana, “Droid Sans”;
}

.Footer__Inner__Corporation a {
    color: white;
}


@media (max-width: 768px) {
    footer {
        margin-top: 0;
    }

    footer ul {
        width: 100%;
        padding-left: 30px;
    }

    footer ul li {
        line-height: 1.6;
        font-size: 1.2em;
    }

    footer .Footer__Inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        margin: 0 auto;
    }

    footer ul li::after {
        left: -36px;
    }

    footer ul li::before {
        top: 12px;
        left: -35px;
        width: 41px;
    }

    footer h1 {
        font-size: 180%;
    }

    footer p {
        margin-left: 0;
    }

    .Footer__Inner__Links {
        min-width: 0;
        width: 100%;
    }

    .Footer__Inner__GoogleMaps {
        margin-top: 0;
    }
}

/* footer */

#to_contact {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    padding-bottom: 10px;
    width: 90px;
    height: 90px;
    z-index: 100;
    right: 0;
    bottom: 0;
    color: #EC6A9F;
}

#to_contact::after {
    position: absolute;
    content: url("https://13-sunplace-osaka.com/wp/wp-content/uploads/2021/04/envelope-regular.svg");
    display: block;
    top: 0;
    left: 50%;
    width: 50px;
    height: auto;
    transform: translateX(-50%);
}

/* toppageへのボタン*/
#page_top {
    display: none;
    width: 90px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 90px;
    z-index: 100;
}

#page_top div {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
    cursor: pointer;
}

#page_top div:hover {
    opacity: 0.7;
}

#page_top div::before {
    font-weight: 900;
    /*content: '\f102';*/
    font-size: 120%;
    color: #EC6A9F;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

#page_top div::after {
    content: 'PAGE TOP';
    font-size: 100%;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #EC6A9F;
}

header {
    margin-top: 60px;
}

.usability {
    height: 60px;
    width: 100%;
    position: absolute;
    background-color: #feedfa;
    border-bottom: 1px solid #eea293;
    top: 0;
}

.usability ul {
    display: flex;
    list-style: none;
    font-size: 120%;
    justify-content: flex-end;
}

.usability li:nth-of-type(even) {
    margin: 0 14px
}

.usability a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .usability ul {
        margin-left: 0;
        justify-content: flex-start;
    }

    .usability span {
        display: none;
    }

    .Hamburger__Menu--btn {
        top: 70px;
    }

    #page_top {
        bottom: 0;
    }
}

/*************************************************************************************/
/*shien.css*/
.key_visual h1 {
    font-size: 48px;
}

.staff {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

#shidouin {
    position: relative;
    width: 100%;
    height: calc(100vh - 160px);
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shidouin h1 {
    text-align: center;
}

.hover-effect1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 8px 10px 16px;
    position: absolute; /* 相対位置指定 */
    top: -267px;
    left: -219px;
}

.hover-effect1 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.hover-effect1 .caption {
    font-size: 130%;
    text-align: center;
    margin-top: 80px;
    color: #fff;
}

.hover-effect1 .mask1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute; /* 絶対位置指定 */
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hover-effect1:hover .mask1 {
    opacity: 1; /* マスクを表示する */
}

.hover-effect2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 8px 10px 16px;
    position: absolute; /* 相対位置指定 */
    top: -262px;
    left: 11px;
}

.hover-effect2 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hover-effect2 .caption {
    font-size: 130%;
    text-align: center;
    padding-top: 80px;
    color: #fff;
}

.hover-effect2 .mask2 {
    width: 100%;
    height: 100%;
    position: absolute; /* 絶対位置指定 */
    border-radius: 50%;
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hover-effect2:hover .mask2 {
    opacity: 1; /* マスクを表示する */
}

.hover-effect3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 8px 10px 16px;
    position: absolute; /* 相対位置指定 */
    top: -100px;
    left: -417px;
}

.hover-effect3 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hover-effect3 .caption {
    font-size: 130%;
    text-align: center;
    padding-top: 80px;
    color: #fff;
}

.hover-effect3 .mask3 {
    width: 100%;
    height: 100%;
    position: absolute; /* 絶対位置指定 */
    border-radius: 50%;
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hover-effect3:hover .mask3 {
    opacity: 1; /* マスクを表示する */
}

.hover-effect4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 8px 10px 16px;
    position: absolute; /* 相対位置指定 */
    top: -104px;
    left: 175px;
}

.hover-effect4 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hover-effect4 .caption {
    font-size: 130%;
    text-align: center;
    padding-top: 80px;
    color: #fff;
}

.hover-effect4 .mask4 {
    width: 100%;
    height: 100%;
    position: absolute; /* 絶対位置指定 */
    border-radius: 50%;
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hover-effect4:hover .mask4 {
    opacity: 1; /* マスクを表示する */
}


.hover-effect6 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 8px 10px 16px;
    position: absolute; /* 相対位置指定 */
    top: 43px;
    left: -119px;
}

.hover-effect6 img {
    width: 200px;
    height: 20 s0px;
    border-radius: 50%;
}

.hover-effect6 .caption {
    font-size: 130%;
    text-align: center;
    padding-top: 80px;
    color: #fff;
}

.hover-effect6 .mask6 {
    width: 100%;
    height: 100%;
    position: absolute; /* 絶対位置指定 */
    border-radius: 50%;
    top: 0;
    left: 0;
    opacity: 0; /* マスクを表示しない */
    background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hover-effect6:hover .mask6 {
    opacity: 1; /* マスクを表示する */
}

.hover-effect .caption {
    margin-top: 80px;
    padding-top: 0;
}

.inst_comment {
    position: absolute;
    width: 210px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #222;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 15px;
}
.kodama_comment{
    left: -225px;
    top: 44px;
}
.ishigaki_comment{
    right: -230px;
    top: 39px;
}
.kudo_comment {
    top: -45px;
    left: -214px;
}

.isami_comment {
    top: -36px;
    right: -209px;
}

.matoba_comment {
    bottom: -102px;
    right: -156px;
}

.inst_comment::before {
    content: '';
    display: block;
    border-left: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
}
.kodama_comment::before{
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.ishigaki_comment::before{
    left: -10px;
    top: 50%;
    transform: scale(-1,1) translateY(-50%);
}
.kudo_comment::before {
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.isami_comment::before {
    top: 50%;
    left: -10px;
    transform: rotateZ(180deg) translateY(50%);
}

.matoba_comment::before {
    top: -15px;
    left: 26px;
    transform: rotateZ(270deg);
}

@media (max-width: 768px) {
    body {
        background-color: #faebf9;
    }

    .inst_comment {
        width: 50px;
        height: 210px;
        writing-mode: vertical-rl;
        font-size: 15px;
    }

    .yokobo {
        font-size: 15px !important;
        text-orientation: sideways;
    }

    .kudo_comment {
        top: -200px;
        left: -80px;
    }

    .matoba_comment::before {
        top: 50%;
        right: -10px;
        left: unset;
        transform: rotateZ(
                360deg
        );
    }

    .isami_comment {
        top: -170px;
        right: -80px;
    }

    .matoba_comment {
        bottom: 0px;
        left: -85px;
        right: unset;
    }

    .kodama_comment {
        top: 538px;
        left: 27px;
    }

    .kodama_comment::before {
        left: 50px;
    }

    .ishigaki_comment {
        top: 790px;
        right: 27px;
    }

    .ishigaki_comment::before {
        right: 50px;
        top: 50%;
        transform: rotateZ(
                180deg
        );
    }

    .staff {
        position: static;
        height: auto;
        width: 170px;
        margin: 0 auto;
    }

    .key_visual {

        width: 100%;
        position: static;
    }

    .key_visual h1 {
        margin: 0 auto;
    }

    #shidouin {
        display: block;
        height: auto;
    }

    .hover-effect1 {
        top: 15%;
        right: 35%;
        position: static;
        margin: 15px auto;
        overflow: unset;
    }

    .hover-effect1 img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }

    .hover-effect1 .mask1 {
        position: static; /* 絶対位置指定 */
        top: auto;
        left: auto;
        opacity: 1; /* マスクを表示しない */
        background-color: transparent; /*親のbgk適用*/
    }

    .hover-effect1 .caption {
        color: #000;
        transform: translateX(0px) translateY(-77px);
    }

    .hover-effect2 {
        top: 48%;
        right: 35%;
        position: static;
        margin: 15px auto;
        overflow: unset;
    }

    .mask2 .caption {
        font-size: 15px;
    }

    .hover-effect2 img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }

    .hover-effect2 .mask2 {
        position: static; /* 絶対位置指定 */
        top: auto;
        left: auto;
        opacity: 1; /* マスクを表示しない */
        background-color: transparent; /*親のbgk適用*/
    }

    .hover-effect2 .caption {
        color: #000;
        transform: translateX(0px) translateY(-77px);
    }

    .hover-effect2 .caption span {
        font-size: 150%;
    }

    .hover-effect3 {
        position: static;
        margin: 15px auto;
        overflow: unset;
    }

    .hover-effect3 img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }

    .hover-effect3 .mask3 {
        position: static; /* 絶対位置指定 */
        top: auto;
        left: auto;
        opacity: 1; /* マスクを表示しない */
        background-color: transparent; /*親のbgk適用*/
    }

    .hover-effect3 .caption {
        color: #000;
        transform: translateX(0px) translateY(-77px);
    }

    .hover-effect4 {
        position: static;
        margin: 15px auto;
        overflow: unset;
    }

    .hover-effect4 img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }

    .hover-effect4 .mask4 {
        position: static; /* 絶対位置指定 */
        top: auto;
        left: auto;
        opacity: 1; /* マスクを表示しない */
        background-color: transparent; /*親のbgk適用*/
    }

    .hover-effect4 .caption {
        color: #000;
        transform: translateX(0px) translateY(-77px);
    }

    .hover-effect5 {
        top: 145%;
        right: 35%;
        position: static;
        margin: 15px auto;
        overflow: unset;
    }

    .hover-effect5 img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }

    .hover-effect5 .mask5 {
        position: static; /* 絶対位置指定 */
        top: auto;
        left: auto;
        opacity: 1; /* マスクを表示しない */
        background-color: transparent; /*親のbgk適用*/
    }

    .hover-effect5 .caption {
        color: #000;
        transform: translateX(0px) translateY(-77px);
    }

    .hover-effect6 {
        top: 180%;
        right: 35%;
        position: static;
        margin: 15px auto;
        overflow: unset;
    }

    .hover-effect6 img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
    }

    .hover-effect6 .mask6 {
        position: static; /* 絶対位置指定 */
        top: auto;
        left: auto;
        opacity: 1; /* マスクを表示しない */
        background-color: transparent; /*親のbgk適用*/
        height: 0;
    }

    .hover-effect6 .caption {
        color: #000;
        transform: translateX(0px) translateY(-77px);
    }

    .hover_width {
        height: 170px !important;
        width: 170px !important;
        margin-bottom: 80px;
    }
}

/*************************************************************************************/
/*Q&A*/

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cp_qa {
    margin: 2em auto 2em auto;
    padding: 1em 1em 0.5em 1em;
    background: #fff;
    max-width: 1140px;
}

.cp_qa h1 {
    margin-bottom: 0.5em;
    padding: 10px;
    border-radius: 0.2em;
    background: #feedfa;
    font-weight: bold;
    text-align: center;
}

.cp_qa dl {
    margin: 0;
}

.cp_qa dt {
    margin-bottom: 0.5em;
    padding: 0.2em 0.5em 0.5em 2em;
    border-radius: 0.2em;
    background: #feedfa;
    font-weight: bold;
}

.cp_qa dd {
    margin-bottom: 1em;
    margin-left: 0;
    padding: 0.5em 1em 1.5em 3em;
}

/* QAアイコン */
.cp_qa dt::before, .cp_qa dd::before {
    font-size: 1.5em;
    color: #52062c;
}

.cp_qa dt::before {
    margin: 0.3em 0.3em 0 -1em;
    content: 'Q';
}

.cp_qa dd::before {
    margin: 0 0.5em 0 -2em;
    padding: 0.2em 0.4em;
    content: 'A';
    border-radius: 0.2em;
    background: #9de6af;
}

@media (max-width: 768px) {
    .cp_qa h1 {
        display: block;
    }
}

/*************************************************************************/
/*kigyoujouhou.css*/
.add {
    display: table;
    margin: 0 auto;
    line-height: 30px;
    padding-bottom: 30px;
}

.h1 {
    text-align: center;
}

table#company {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2em;
}

table tr {
    border-bottom: solid 2px white;
}

table tr:last-child {
    border-bottom: none;
}

table th {
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #FFCCFF;
    color: black;
    text-align: center;
    padding: 10px 0;
    min-width: 100px;
}

table th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: calc(50% - 10px);
    right: -10px;
    border-left: 10px solid #ffccff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

table td {
    text-align: left;
    width: 70%;
    background-color: #eee;
    padding: 10px 25px;
    min-width: 284px;
}

@media screen and (max-width: 767px) {
    table td, table th {
        min-width: 0px;
    }
}

/*******************************************************************/
/*nagare.css*/

div.nagare {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

h1.flow_h1 {
    text-align: center;
}

p.title {
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    font-size: 1.2em;
}

span.kome {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: -1px;
}

ol.big {
    list-style: none;
    position: relative;
    z-index: 1;
    padding: 0;
}

ol.big li {
    border-style: solid;
    margin: 0 auto 37px;
    width: 250px;
    text-align: center;
    position: relative;
    border-color: yellowgreen;
    background-color: white;
    padding: 14px 7px;
    font-size: 28px;
}

ol.big li::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid green;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 88px;
}

ol.big li:last-child::before {
    display: none;
}

figure.usagi_figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figure.usagi_figure figcaption {
    font-size: 12px;
    text-align: center;
    margin-left: 57px;
}

div.usagi {
    width: 100%;
    position: relative;
}

img.kousagi {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: auto;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    div.nagare {
        flex-direction: column-reverse;
        align-items: center;
    }

    p.title {
        padding: 0 20px;
    }

    figure.usagi_figure figcaption {
        margin-left: 0;
    }
}

.marker-animation.active {
    background-position: -100% 1em;
}

.marker-animation {
    background-image: linear-gradient(to right, transparent 50%, #e460d2 50%);
    background-image: -webkit-linear-gradient(left, transparent 50%, #e460d2 50%);
    background-image: -moz-linear-gradient(left, transparent 50%, #e460d2 50%);
    background-image: -ms-linear-gradient(left, transparent 50%, #e460d2 50%);
    background-image: -o-linear-gradient(left, transparent 50%, #e460d2 50%);
    background-repeat: repeat-x;
    background-size: 200% 1em;
    background-position: 0% 1em;
    transition: all 2s ease;
    transition-delay: .5s;
    font-weight: bold;
    display: inline;
}

@media screen and (max-width: 768px) {
    .marker-animation {
        background-image: linear-gradient(180deg, transparent 70%, #e460d2 70%);
        background-size: auto;
        background-position: unset;
    }

    .marker-animation.active {
        background-position: unset;
    }
}

#wpcf7-f46-o1 > form > p > span > span > span > input, #wpcf7-f46-o1 > form > p > label > span > input {
    border-radius: 5px;
}

#wpcf7-f46-o1 > form > p > label > span > input, #wpcf7-f46-o1 textarea {
    border-radius: 5px;
    width: 100%;
    border: 2px solid #777;
    transition: 0.2s;
}

#wpcf7-f46-o1 > form > p > label > span > input:focus, #wpcf7-f46-o1 textarea:focus, #wpcf7-f103-p93-o1 input:focus, #wpcf7-f103-p93-o1 textarea:focus {
    box-shadow: 0 0 8px 1px #e460d2;
}

#wpcf7-f46-o1 > form > p:nth-child(7) > label:nth-child(3) > span > input, #wpcf7-f46-o1 > form > p:nth-child(7) > label:nth-child(5) > span > input, #wpcf7-f46-o1 > form > p:nth-child(7) > label:nth-child(7) > span > input {
    margin-bottom: 8px;
    width: auto;
    display: inline-flex;
}

#wpcf7-f46-o1 > form > p:nth-child(9) > input {
    border-radius: 5px;
}

#wpcf7-f46-o1 input[type="submit"], #wpcf7-f103-p93-o1 input[type="submit"] {
    background-color: #e460d2;
    color: #fff;
    width: 100px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: none;
    box-shadow: 0 3px 0 #ddd;
    transition: 0.3s;
    display: block;
}

#wpcf7-f46-o1 input[type="submit"]:focus {
    outline: none;
}

#wpcf7-f46-o1 input[type="submit"]:hover, #wpcf7-f103-p93-o1 input[type="submit"]:hover {
    background-color: #d380c8;
    transform: translate3d(0px, 3px, 1px);
    -webkit-transform: translate3d(0px, 3px, 1px);
    -moz-transform: translate3d(0px, 3px, 1px);
}

.wpcf7 .ajax-loader {
    position: absolute;
}

#contact > h2 {
    text-align: center;
    padding-left: 0;
}

.red {
    color: #dc3232;
}

@media screen and (max-width: 768px) {
    #wpcf7-f46-o1 > form > p > label > span > input, #wpcf7-f46-o1 textarea {
        width: 95%;
        display: block;
        margin: 0 auto;
    }

    .wpcf7-not-valid-tip, #wpcf7-f46-o1 > form > p > label {
        margin-left: 10px;
    }
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
    outline-offset: -2px;
}