.add {
  display: table;
  margin: 0 auto;
	line-height: 30px;
}
.h1{
text-align: center;
}


table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #FFCCFF;
  color: black;
  text-align: center;
  padding: 10px 0;
  min-width: 100px;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #ffccff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  background-color: #eee;
  padding: 10px 25px;
  min-width: 284px;
}

body{
  background-image: url("1174006.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center center;
  margin:0;
  padding:0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}
@media screen and (max-width:767px) {
  table td, table th{
    min-width: 0px;
  }
}