div.nagare{
  display: flex;
  justify-content: space-around;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
body{
  background-image: url("1174006.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center center;
  margin:0;
  padding:0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}
h1.flow_h1{
  text-align: center;
}
p.title{
  width:fit-content;
  width:-moz-fit-content;
  margin:0 auto;
}
span.kome{
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  font-size:12px;
  white-space: nowrap;
}
ol.big{
  list-style: none;
  position: relative;
  z-index: 1;
  padding: 0;
}
ol.big li{
  border-style: solid;
  margin: 0 auto 37px;
  width: 250px;
  text-align: center;
  position: relative;
  border-color: yellowgreen;
  background-color: white;
  padding: 14px 7px;
  font-size: 28px;
}

ol.big li::before{
  content: '';
  display: block;
  width:0px;
  height:0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid green;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top:88px;
}
ol.big li:last-child::before{
  display: none;
}
figure.usagi_figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
figure.usagi_figure figcaption{
  font-size:12px;
  text-align: center;
}
div.usagi{
  width:100%;
  position: relative;
}
img.kousagi{
  position: absolute;
  bottom: 0;
  left:0;
  width:50%;
  height: auto;
  opacity: 0.5;
}

@media screen and (max-width:768px){
  div.nagare{
    flex-direction: column-reverse;
    align-items: center;
  }
  p.title{
    padding:0 20px;
  }
}