@charset "UTF-8";
body{
	background-image: url("1174006.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	background-position: center center;
	margin:0;
	padding:0;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  }
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	font-family: sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa {
	margin: 2em auto 2em auto;
	padding: 1em 1em 0.5em 1em;
	background: #fff;
	max-width: 1140px;
}

.cp_qa h1 {
    margin-bottom: 0.5em;
    padding: 0.2em 0.5em 0.5em 2em;
    border-radius: 0.2em;
    background: #f0deec;
    font-weight: bold;
    text-align: center;
}

.cp_qa dl {
	margin: 0;
}
.cp_qa dt {
	margin-bottom: 0.5em;
	padding: 0.2em 0.5em 0.5em 2em;
	border-radius: 0.2em;
	background: #f0deec;
    font-weight: bold;
}
.cp_qa dd {
	margin-bottom: 1em;
	margin-left: 0;
	padding: 0.5em 1em 1.5em 3em;
}
/* QAアイコン */
.cp_qa dt::before,.cp_qa dd::before{
	font-size: 1.5em;
	color: #52062c;
}
.cp_qa dt::before {
	margin: 0.3em 0.3em 0 -1em;
	content: 'Q';
}
.cp_qa dd::before {
	margin: 0 0.5em 0 -2em;
	padding: 0.2em 0.4em;
	content: 'A';
	border-radius: 0.2em;
	background: #9de6af;
}

@media (max-width: 768px){

    .cp_qa h1 {
        display: block;
        

    }
         
}

