@charset "UTF-8";
body,header, section, footer, .vertical-1, .vertical-2,aside,div,dl,dt,ol,ul,li,table,td,th,tr,h1,h2,h3,article{
    background:#0000bc !important;
    color: #ffff00 !important;
}
#body a { background: #00008B !important; }
#body a:LINK { text-decoration:underline; color:#fff !important; }
#body a:VISITED { text-decoration:underline; color:#fff !important; }
#body a:ACTIVE  { text-decoration:none; color:#fff !important; }
#body a:HOVER   { text-decoration:none; color:#fff !important; }

div.img_fit_div,#sakura_animation{
    background:transparent!important;
}